<ion-header>
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Perfil</h1>

  <ion-card color="Transparent" *ngIf="nomePerfil != null; else cadastro">
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7742?d=identicon&f=y"/>
    </ion-avatar>

    <ion-label> Olá, Sr. {{nomePerfil}} </ion-label>
    <ion-button (click)="atualizar()">
      <ion-icon slot="icon-only" name="refresh"></ion-icon>Atualizar Nome
    </ion-button>
  </ion-card>
  <ng-template #cadastro>
    <p class="ion-no-margin">Não há Perfil cadastrado</p>
    <br />
    <ion-item>
      <ion-label position="floating">Qual o seu nome? </ion-label>
      <ion-input [(ngModel)]="newNomePerfil" type="String"></ion-input>
    </ion-item>
    <ion-button (click)="cadastrar()">
      <ion-icon slot="icon-only" name="add"></ion-icon>Cadastrar
    </ion-button>
  </ng-template>

  <ion-card>
      <ion-grid>
      <ion-row>
        <h1>Adcionar Simulações</h1>
      </ion-row>
      <ion-row class="ion-align-self-center">
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nome do investimento</ion-label>
            <ion-input [(ngModel)]="newInvestName" type="text" placeholder="Nome Investimento"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Qual o Percentual?</ion-label>
            <ion-input [(ngModel)]="newPercentYear" type="number" placeholder="% ao mes"></ion-input>
          </ion-item>
        </ion-col>

        <ion-button (click)="addNewSimulacao()">
          <ion-icon slot="icon-only" name="add"></ion-icon>Adcionar
        </ion-button>
      </ion-row>
      
    </ion-grid>

    <ion-list>
      <ion-item>
        <ion-label>Nomes de investimentos</ion-label>
        <ion-label>Valores de % ao ano</ion-label>
      </ion-item>
      <ion-item *ngFor="let simulacao of simulacoes">
        <ion-label class="detalhesCard">{{simulacao.nome}}</ion-label>
        <ion-label class="detalhesCard">{{simulacao.percentual}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

 <br />  

    <ion-card>
      <ion-grid>
      <ion-row>
        <h1>Adcionar Cartão</h1>
      </ion-row>
      <ion-row class="ion-align-self-center">
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nome do Cartão</ion-label>
            <ion-input [(ngModel)]="newCartaoName" type="text" placeholder="Nome Investimento"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Qual o Valor Inicial?</ion-label>
            <ion-input [(ngModel)]="newValueCartao" type="number" placeholder="Valor inicial"></ion-input>
          </ion-item>
        </ion-col>

        <ion-button (click)="addNewCartao()">
          <ion-icon slot="icon-only" name="add"></ion-icon>Adcionar
        </ion-button>
      </ion-row>
    </ion-grid>
   <ion-list>
      <ion-item>
        <ion-label>Nomes de Cartões</ion-label>
        <ion-label>Saldo</ion-label>
      </ion-item>
      <ion-item *ngFor="let cartao of cartoes">
        <ion-label class="detalhesCard">{{cartao.nome}}</ion-label>
        <ion-label class="detalhesCard">{{cartao.saldo}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
 
</ion-content>
