<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Câmbio</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  color="secondary" class="ion-padding">



  <p>atualizado as {{horarioUpdate}}</p>
  <ion-item >
    <ion-label position="floating">Digite um valor</ion-label>
    <ion-input type="number" [(ngModel)]="moedaEnt" placeholder="Ex.: 300"></ion-input>
  </ion-item>

  <ion-row class="ion-justify-content-center">

    <ion-col class="entrada" size="5">
      <ion-item>
        <ion-select placeholder="Moeda Entrada" [(ngModel)]="tipoMoedaEnt">
          <ion-select-option selected value="BRL">Real</ion-select-option>
          <ion-select-option value="USD">Dólar</ion-select-option>
          <ion-select-option value="EUR">Euro</ion-select-option>

        </ion-select>
      </ion-item>
    </ion-col>

    <ion-col class="botao" size="5">
      <ion-fab>
        <ion-fab-button (click)="calcCambio()">
         <ion-icon name="swap-horizontal"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-col>

    <ion-col class="saida" size="5">
      <ion-item>
        <ion-select placeholder="Moeda Saida" [(ngModel)]="tipoMoedaSaida" (ion-change)="valorMinimo()">
          <ion-select-option value="BRL">Real</ion-select-option>
          <ion-select-option value="USD">Dólar</ion-select-option>
          <ion-select-option value="EUR">Euro</ion-select-option>
          <
        </ion-select>
      </ion-item>
    </ion-col>

  </ion-row>

  <h2>Resultado: {{moedaSaida | currency}} </h2>



</ion-content>
