.entrada{

  position: absolute;
  left:11px;
}
.saida{
position: absolute;
right: 11px;
}
.botao{
  position: absolute;
  left: 147px;
  right: 0px;
  top: 170px;
}
ion-item{
  border-radius: 10px;
}
