ion-item, ion-list, ion-button{
  border-radius: 10px;
}
.valor{

  position: relative;
  top: 0%;

}
.mes{

  position: relative;
  top: 1%;
}
.percent{
  position: absolute;
  left:70px;
}
.excluir{
  position: absolute;
  left:290px;
}
