ion-content.background{
  --ion-background-color:blue;
}


.setinha{
position: absolute;
  right:0%;
  top:-10px;
}
.icone{
  position: absolute;
  left:0%;
  top:-10px;
}

.sizeBotao{
  height: auto;
}





